@import "./variables.scss";

.p-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: $max-width;
    min-height: 400px;
    background: linear-gradient(#DAC5B6, #D3AC8C);
    padding: 30px 20px;
}