@import 'mixins.scss';
@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Vibur');
.tagtainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    font-size: 5rem;
    height: auto;
    background-color: #DAC5B6;
  h2 {
    font-size: 3.6rem;
    font-family: 'Vibur', cursive;
    color: #ECD2E9;
    @include strokeText(1px, black, 3px 3px 3px black);
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    background-color: #D4AF94;
    margin-bottom: 15px;
    height: auto;
    border-radius: 15px;
    border: 1px dashed $shadow-color;
    i {
      margin: 15px;
      color: #ECD2E9;
      @include strokeText(1px, #86435D, 3px 3px 3px black);
      //text-shadow: 3px 3px 3px dimgrey;
    }
  }
}