.p-container {
    margin: 0 auto;
    max-width: 600px;
    min-height: 400px;
    background: linear-gradient(#DAC5B6, #D3AC8C);
    /*border: 1px outset lightgrey;*/
    /*border-radius: 5px;*/
    padding: 30px 10px;
    /*box-shadow: 2px 2px 10px 2px gray;*/
}